<%= render "navbar3" %>

<div class="container">
  <div class="wrapAll" style="display:flex;">
    <!--검색목록-->
    <div class="wrap" style="float:left;flex:5;">
    <div>
      <table align="center" cellpadding="0"  width="778"  style="margin-bottom:3px;" >
        <tr>
            <td width="650"  style="padding-left:0px;" valign=middle align=left height=44>
              <span class="badge badge-secondary badge-info" style="margin-right:5px;font-size:20px;color:#b1b1b1;padding:6px 16px 6px 16px;"><a href="/posts/<%=@category%>/index"><span style="color:#fff;font-size:18px;"  class="daum">
              검색
              </span></a></span> <span CLASS="sm mbox" style="color:#848688;padding:5px 0 5px 2px;">정치 사회적 문제의식을 포함하는 글은 정치/사회/이슈에 올려주시기 바랍니다.</span>
              
            </td>   
        </tr>
      </table>
    </div>
  
    
    <% i= @total + 1 %>
      
      <!--페이지가 2 이상 넘어가면 숫자를 맞춰주기 위해 page수 * 10 만큼 빼주기-->
      <% if @page >=2 %>
        <% i -= (@page-1) *10 %>
      <% end %>
      
    <!--#시준 조회수 구현 -->  
      <% @post.each do |p| %>
        <article>
          <% i-=1 %>
          <a class="article" href="/posts/show/<%= p.id %>">
          <h2 class="medium"><%= p.title %>
              <!--이미지가 있다면 아이콘 걸기!-->
              <% if p.content.include?("<img src=") %> <i class="fas fa-image"></i> <% end %>
          </h2> 
          <%#= content_tag(:div, p.content.html_safe, :class => "panel-body") %>
          <!--p tag 만 지우면 되는줄 알았는데 아님..ㅠ html 의 태그들 자체를 지워야해서 tinymce 자체에 이걸 조정하는 게 있다는데 찾아봐도 잘 모르겠다ㅠㅠ-->
          <% require 'nokogiri' %>
          <%doc = Nokogiri::HTML(p.content.to_s)%>
          <%doc = doc.css("p").inner_text%>
          <p class="small"> <%= doc.to_s %> </p>
          <time class="small"><%= "#{time_ago_in_words(p.created_at)} 전" %></time>
          
          
          <% if @category == 23 %>
                <h3 class="small"><i class="fa fa-user-o" aria-hidden="true"></i> 익명</h3>
              <% else %>
                <h3 class="small"><i class="fa fa-user-o" aria-hidden="true"></i> <%= p.user.username %></h3>
              <% end %>
         
            <ul class="status">
              <li class="vote"><i class="far fa-thumbs-up" style="color:#0505aa"></i>  <%= p.likes.size - p.hates.size  %> </li>
              <li class="comment"><i class="far fa-comment-dots" style="color:#03b1ef"></i> <%= p.replies.size %> </li>
            </ul>
            <hr>
            </a>
        </article>
      <% end %>
  </div>
    <!--오른쪽 로그인 및 실시간 -->
    <div class="conA31" style="float:left;margin-left:5%;flex:2;margin-top:25px;">
       <div class="leftside">
         <!--로그인-->
        <div class="card pconly conA311">
            <form class="logged">
               <% if user_signed_in? %>
                  <img src="https://cf-fpi.everytime.kr/0.png" class="picture">
                  <h4 class="nickname" style="padding-top:5px;"><%= current_user.username %></h4>
                  <p class="username"><a href="/users/sign_out" ><div class="conA3btn">로그아웃</div></a></p>
              <% else %>
                  <p class="username"><a href="/users/sign_in"><div class="conA3btn">로그인</div></a></p>
              <% end %>   
            </form>
        </div>
        <div class="card">
          <div class="menus">
            <div class="menuS" style="padding-left:0;">
              <a href="/my_profile" class="myarticle"><i class="fas fa-user" style="color: #00FF55"></i>&nbsp;&nbsp; 프로필</a><br>
            </div>
            <div class="menuS" style="padding-left:0;">
              <a href="/posts/myPost" class="myarticle"><i class="fas fa-list-ul" style="color: #4EAEE9;"></i>&nbsp;&nbsp; 내가 쓴 글</a><br>
            </div>
            <div class="menuS" style="padding-left:0;">
              <a href="/posts/myReply" class="mycommentarticle"><i class="far fa-comment" style="color: #A1D88F;"></i>&nbsp;&nbsp; 나의 댓글</a>
            </div>
          </div>
        </div>
        
        <!--실시간 인기글-->
        <div class="ConB2" style="width:100%; margin-top:10px;margin-left:0px;margin-bottom;">
          <h3><a href="#"><strong>실시간 글</strong></a></h3>
          <% posts_realtime = Post.all.reverse %>
          <% (0..4).each do |i|%>
            <div class="postlistA">
              <div class="postlistAtext">
                 <a class="article" href="/posts/show/<%= posts_realtime[i].id %>"><%= posts_realtime[i].title %></a><br>
              </div>
            </div>
          <% end %>
        </div>
        
      </div>
    </div>
    
  </div>
  
  
  
  
  
  
  
  
  
  
  <!--<table class="table table-striped">-->
  <!--  <thead>-->
  <!--    <tr>-->
  <!--      <th scope="col" style="width:5%;">#</th>-->
  <!--      <th scope="col" style="width:20%;">작성자</th>-->
  <!--      <th scope="col" style="width:45%;">제목</th>-->
  <!--      <th scope="col" style="width:10%;">작성날짜</th>-->
  <!--      <th scope="col" style="width:10%;">조회수</th>-->
  <!--      <th scope="col" style="width:10%;">좋아요</th>-->
  <!--    </tr>-->
  <!--  </thead>-->
  <!--  <tbody>-->
  <!--    <#% i= Post.where("category_id like ?", "#{@category}").count+1 %>-->
      
      <!--페이지가 2 이상 넘어가면 숫자를 맞춰주기 위해 page수 * 10 만큼 빼주기-->
  <!--    <#% if @page >=2 %>-->
  <!--      <#% i -= (@page-1) *10 %>-->
  <!--    <#% end %>-->
      
    <!--#시준 조회수 구현 -->  
  <!--    <#% @posts.each do |p| %>-->
  <!--      <table border="0" width="100%">-->
  <!--        <tr bgcolor="white" onMouseOver="this.style.backgroundColor='#ECECEC'" onMouseOut="this.style.backgroundColor='#FFFFFF'">-->
  <!--            <#% i-=1 %>-->
  <!--            <td width="5%"><div class="board_num"><#%= i %></div></td>-->
              <!--익명게시판-->
              
  <!--            <#% if @category == 23 %>-->
  <!--              <td width="20%" align="left" style="border-bottom: 1px dashed gray;"><i class="fa fa-user-o" aria-hidden="true"></i> 익명</td>-->
  <!--            <#% else %>-->
  <!--              <td width="20%" align="left" style="border-bottom: 1px dashed gray;"><i class="fa fa-user-o" aria-hidden="true"></i> <#%= p.user.username %></td>-->
  <!--            <#% end %>-->
              
  <!--            <td width="45%" align="left" style="border-bottom: 1px dashed gray;"><div class="board_title"><a style="margin-left: 20px;" href="/posts/show/<#%= p.id %>"><#%= p.title %>-->
              <!--이미지가 있다면 아이콘 걸기!-->
  <!--            <#% if p.content.include?("<img src=") %> <i class="fas fa-image"></i> <#% end %>-->
  <!--            </a></div></td>-->
  <!--            <td width="10%" align="left" style="border-bottom: 1px dashed gray;"><i class="fa fa-clock-o" aria-hidden="true"></i> <#%= "#{time_ago_in_words(p.created_at)} 전" %></td>-->
  <!--            <td width="10%" align="left" style="border-bottom: 1px dashed gray;"> <#%= "#{p.unique_impression_count} views" %></td>-->
  <!--            <td bgcolor="#FEFFDC" width="10%" align="center" style="border-bottom: 1px dashed gray;"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> <#%= p.likes.size %></td>-->
  <!--        </tr>-->
  <!--      </table>-->
  <!--    <#% end %>-->
  <!--  </tbody>-->
  <!--</table>-->
  <div style="clear:both;">
    <%= page_entries_info @post %>
    <%= paginate @post%>
  </div>
</div>

<%= render "footer" %>